/*
  All these values can be redefined for your own customization.
  For the lists, you can add more of your own keys as long as there is a matching value;
*/

// -- Color
$COLOR_MAP: (
  "primary": #3f51b5,

  "bg-primary": #282c34,

  "white": #FFF,
  "gray": #b5b5b5,
  "grayer": #777777,
  "grayest": #444444,
  "black": #333333,
  "transparent": rgba(0, 0, 0, 0)
);

// -- Fonts
$FONT_MAPPING: (
  "primary": "Arial",
  "secondary": "Times New Roman",
  "tertiary": "Courier New"
);

// -- Breakpoints
$BREAKPOINT_MAP: (
  "extra-small": 320px,
  "small": 480px,
  "medium": 768px,
  "large": 1024px
);

// -- Base Sizing per tick
$BASE_SIZE_MAP: (
  "font": 12px,
  "padding": 3px,
  "margin": 3px,
  "border-radius": 3px,
  "box-shadow": 3px
);
