// these are key prefixes that will define the class name

// -- directional
$ALL_DIRECTIONS_MAP: (
  "vertical": "v",
  "horizontal": "h",
  "top": "t",
  "bottom": "b",
  "left": "l",
  "right": "r",
  "top-left": "tl",
  "top-right": "tr",
  "bottom-left": "bl",
  "bottom-right": "br",
);

$COMMON_DIRECTION_MAP: (
  "vertical": map.get($ALL_DIRECTIONS_MAP, "vertical"),
  "horizontal": map.get($ALL_DIRECTIONS_MAP, "horizontal"),
  "top": map.get($ALL_DIRECTIONS_MAP, "top"),
  "bottom": map.get($ALL_DIRECTIONS_MAP, "bottom"),
  "left": map.get($ALL_DIRECTIONS_MAP, "left"),
  "right": map.get($ALL_DIRECTIONS_MAP, "right"),
);

$BASIC_DIRECTION_MAP: (
  "top": map.get($ALL_DIRECTIONS_MAP, "top"),
  "bottom": map.get($ALL_DIRECTIONS_MAP, "bottom"),
  "left": map.get($ALL_DIRECTIONS_MAP, "left"),
  "right": map.get($ALL_DIRECTIONS_MAP, "right"),
);

$MULTIPLE_DIRECTION_MAP: (
  "vertical": map.get($ALL_DIRECTIONS_MAP, "vertical"),
  "horizontal": map.get($ALL_DIRECTIONS_MAP, "horizontal"),
);

$DIAGONAL_DIRECTION_MAP: (
  "top-left": map.get($ALL_DIRECTIONS_MAP, "top-left"),
  "top-right": map.get($ALL_DIRECTIONS_MAP, "top-right"),
  "bottom-left": map.get($ALL_DIRECTIONS_MAP, "bottom-left"),
  "bottom-right": map.get($ALL_DIRECTIONS_MAP, "bottom-right"),
);

// -- other selectors
$SELECTOR_MAP: (
  "width": "width",
  "height": "height",

  "margin": "mar",
  "padding": "pad",

  "color": "color",
  "background-color": "bg",

  "font-family": "fontfamily",
  "font-size": "fontsize",
  "fontstyle": "f",

  "adjacent": "adjacent",
  "border": "bor",
  "border-color": "borcolor",
  "border-radius": "borradius",
  "border-width": "borwidth",
  "box-sizing": "boxsizing",
  "box-shadow": "boxshadow",

  "cursor": "cursor",
  "display": "display",
  "opacity": "opacity",

  "flex": "flex",
  "flex-wrap": "flexwrap",
  "align-items": "aitems",
  "justify-content": "jcontent",
  "align-self": "aself",

  "overflow": "overflow",
  "position": "position",
  "pos": "pos",
  "resize": "resize",
  "text": "text",
  "text-align": "talign",
  "white-space": "whitespace",
  "z-index": "zindex",
);

// -- pseudoselectors
$PSEUDOSELECTOR_MAP: (
  "active": "active",
  "focus": "focus",
  "hover": "hover",
);

