// these are key prefixes that will define the class name

// -- directional
$DIRECTION_MAP: (
  "vertical": "v",
  "horizontal": "h",
  "top": "t",
  "bottom": "b",
  "left": "l",
  "right": "r",
);

$BASIC_DIRECTION_MAP: (
  "top": "t",
  "bottom": "b",
  "left": "l",
  "right": "r",
);

$MULTIPLE_DIRECTION_MAP: (
  "vertical": "v",
  "horizontal": "h",
);

// -- other selectors
$SELECTOR_MAP: (
  "width": "width",
  "height": "height",

  "margin": "mar",
  "padding": "pad",

  "color": "color",
  "background-color": "bg",

  "font-family": "fontfamily",
  "font-size": "fontsize",
  "fontstyle": "f",

  "adjacent": "adjacent",
  "border": "bor",
  "border-color": "borcolor",
  "border-radius": "borradius",
  "border-width": "borwidth",
  "box-sizing": "boxsizing",
  "box-shadow": "boxshadow",

  "cursor": "cursor",
  "display": "display",
  "opacity": "opacity",

  "flex": "flex",
  "flex-wrap": "flexwrap",
  "align-items": "aitems",
  "justify-content": "jcontent",
  "align-self": "aself",

  "overflow": "overflow",
  "position": "position",
  "pos": "pos",
  "resize": "resize",
  "text": "text",
  "text-align": "talign",
  "white-space": "whitespace",
  "z-index": "zindex",
);

// -- pseudoselectors
$PSEUDOSELECTOR_MAP: (
  "active": "active\:",
  "focus": "focus\:",
  "hover": "hover\:",
);

