.bor-0 {
  border-width: 0px;
  border-style: solid;
}
.bor-t-0 {
  border-top-width: 0px;
  border-style: solid;
}
.bor-b-0 {
  border-bottom-width: 0px;
  border-style: solid;
}
.bor-l-0 {
  border-left-width: 0px;
  border-style: solid;
}
.bor-r-0 {
  border-right-width: 0px;
  border-style: solid;
}
.bor-h-0 {
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
}
.bor-v-0 {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-style: solid;
}
.bor-1 {
  border-width: 1px;
  border-style: solid;
}
.bor-t-1 {
  border-top-width: 1px;
  border-style: solid;
}
.bor-b-1 {
  border-bottom-width: 1px;
  border-style: solid;
}
.bor-l-1 {
  border-left-width: 1px;
  border-style: solid;
}
.bor-r-1 {
  border-right-width: 1px;
  border-style: solid;
}
.bor-h-1 {
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
}
.bor-v-1 {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
}
.bor-2 {
  border-width: 2px;
  border-style: solid;
}
.bor-t-2 {
  border-top-width: 2px;
  border-style: solid;
}
.bor-b-2 {
  border-bottom-width: 2px;
  border-style: solid;
}
.bor-l-2 {
  border-left-width: 2px;
  border-style: solid;
}
.bor-r-2 {
  border-right-width: 2px;
  border-style: solid;
}
.bor-h-2 {
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
}
.bor-v-2 {
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-style: solid;
}
.bor-3 {
  border-width: 3px;
  border-style: solid;
}
.bor-t-3 {
  border-top-width: 3px;
  border-style: solid;
}
.bor-b-3 {
  border-bottom-width: 3px;
  border-style: solid;
}
.bor-l-3 {
  border-left-width: 3px;
  border-style: solid;
}
.bor-r-3 {
  border-right-width: 3px;
  border-style: solid;
}
.bor-h-3 {
  border-left-width: 3px;
  border-right-width: 3px;
  border-style: solid;
}
.bor-v-3 {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-style: solid;
}
.bor-4 {
  border-width: 4px;
  border-style: solid;
}
.bor-t-4 {
  border-top-width: 4px;
  border-style: solid;
}
.bor-b-4 {
  border-bottom-width: 4px;
  border-style: solid;
}
.bor-l-4 {
  border-left-width: 4px;
  border-style: solid;
}
.bor-r-4 {
  border-right-width: 4px;
  border-style: solid;
}
.bor-h-4 {
  border-left-width: 4px;
  border-right-width: 4px;
  border-style: solid;
}
.bor-v-4 {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-style: solid;
}
.bor-5 {
  border-width: 5px;
  border-style: solid;
}
.bor-t-5 {
  border-top-width: 5px;
  border-style: solid;
}
.bor-b-5 {
  border-bottom-width: 5px;
  border-style: solid;
}
.bor-l-5 {
  border-left-width: 5px;
  border-style: solid;
}
.bor-r-5 {
  border-right-width: 5px;
  border-style: solid;
}
.bor-h-5 {
  border-left-width: 5px;
  border-right-width: 5px;
  border-style: solid;
}
.bor-v-5 {
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-style: solid;
}
/*
  example:
  .generate-border-width(2) will output .bor-2 { border-width: 2px; }
*/
.borradius-5 {
  border-radius: 25px;
}
.borradius-tl-5 {
  border-top-left-radius: 25px;
}
.borradius-tr-5 {
  border-top-right-radius: 25px;
}
.borradius-bl-5 {
  border-bottom-left-radius: 25px;
}
.borradius-br-5 {
  border-bottom-right-radius: 25px;
}
.borradius-l-5 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.borradius-r-5 {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.borradius-t-5 {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.borradius-d-5 {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.borradius-4 {
  border-radius: 20px;
}
.borradius-tl-4 {
  border-top-left-radius: 20px;
}
.borradius-tr-4 {
  border-top-right-radius: 20px;
}
.borradius-bl-4 {
  border-bottom-left-radius: 20px;
}
.borradius-br-4 {
  border-bottom-right-radius: 20px;
}
.borradius-l-4 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.borradius-r-4 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.borradius-t-4 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.borradius-d-4 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.borradius-3 {
  border-radius: 15px;
}
.borradius-tl-3 {
  border-top-left-radius: 15px;
}
.borradius-tr-3 {
  border-top-right-radius: 15px;
}
.borradius-bl-3 {
  border-bottom-left-radius: 15px;
}
.borradius-br-3 {
  border-bottom-right-radius: 15px;
}
.borradius-l-3 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.borradius-r-3 {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.borradius-t-3 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.borradius-d-3 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.borradius-2 {
  border-radius: 10px;
}
.borradius-tl-2 {
  border-top-left-radius: 10px;
}
.borradius-tr-2 {
  border-top-right-radius: 10px;
}
.borradius-bl-2 {
  border-bottom-left-radius: 10px;
}
.borradius-br-2 {
  border-bottom-right-radius: 10px;
}
.borradius-l-2 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.borradius-r-2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.borradius-t-2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.borradius-d-2 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.borradius-1 {
  border-radius: 5px;
}
.borradius-tl-1 {
  border-top-left-radius: 5px;
}
.borradius-tr-1 {
  border-top-right-radius: 5px;
}
.borradius-bl-1 {
  border-bottom-left-radius: 5px;
}
.borradius-br-1 {
  border-bottom-right-radius: 5px;
}
.borradius-l-1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.borradius-r-1 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.borradius-t-1 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.borradius-d-1 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.borradius-round {
  border-radius: 50%;
}
.borradius-tl-round {
  border-top-left-radius: 50%;
}
.borradius-tr-round {
  border-top-right-radius: 50%;
}
.borradius-bl-round {
  border-bottom-left-radius: 50%;
}
.borradius-br-round {
  border-bottom-right-radius: 50%;
}
.borradius-l-round {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.borradius-r-round {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.borradius-t-round {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.borradius-d-round {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.borcolor-transparent {
  border-color: transparent;
}
.boxshadow-b-1-primary {
  box-shadow: 0 3px #0A0024;
}
.boxshadow-b-1-secondary {
  box-shadow: 0 3px #001926;
}
.boxshadow-b-1-tertiary {
  box-shadow: 0 3px #F08400;
}
.boxshadow-b-1-fourth {
  box-shadow: 0 3px #E3DB96;
}
.boxshadow-b-1-fifth {
  box-shadow: 0 3px #DE4D3A;
}
.boxshadow-b-1-white {
  box-shadow: 0 3px #FFF;
}
.boxshadow-b-1-black {
  box-shadow: 0 3px #333333;
}
.boxshadow-b-2-primary {
  box-shadow: 0 6px #0A0024;
}
.boxshadow-b-2-secondary {
  box-shadow: 0 6px #001926;
}
.boxshadow-b-2-tertiary {
  box-shadow: 0 6px #F08400;
}
.boxshadow-b-2-fourth {
  box-shadow: 0 6px #E3DB96;
}
.boxshadow-b-2-fifth {
  box-shadow: 0 6px #DE4D3A;
}
.boxshadow-b-2-white {
  box-shadow: 0 6px #FFF;
}
.boxshadow-b-2-black {
  box-shadow: 0 6px #333333;
}
.boxshadow-b-3-primary {
  box-shadow: 0 9px #0A0024;
}
.boxshadow-b-3-secondary {
  box-shadow: 0 9px #001926;
}
.boxshadow-b-3-tertiary {
  box-shadow: 0 9px #F08400;
}
.boxshadow-b-3-fourth {
  box-shadow: 0 9px #E3DB96;
}
.boxshadow-b-3-fifth {
  box-shadow: 0 9px #DE4D3A;
}
.boxshadow-b-3-white {
  box-shadow: 0 9px #FFF;
}
.boxshadow-b-3-black {
  box-shadow: 0 9px #333333;
}
.boxshadow-b-4-primary {
  box-shadow: 0 12px #0A0024;
}
.boxshadow-b-4-secondary {
  box-shadow: 0 12px #001926;
}
.boxshadow-b-4-tertiary {
  box-shadow: 0 12px #F08400;
}
.boxshadow-b-4-fourth {
  box-shadow: 0 12px #E3DB96;
}
.boxshadow-b-4-fifth {
  box-shadow: 0 12px #DE4D3A;
}
.boxshadow-b-4-white {
  box-shadow: 0 12px #FFF;
}
.boxshadow-b-4-black {
  box-shadow: 0 12px #333333;
}
.boxshadow-b-5-primary {
  box-shadow: 0 15px #0A0024;
}
.boxshadow-b-5-secondary {
  box-shadow: 0 15px #001926;
}
.boxshadow-b-5-tertiary {
  box-shadow: 0 15px #F08400;
}
.boxshadow-b-5-fourth {
  box-shadow: 0 15px #E3DB96;
}
.boxshadow-b-5-fifth {
  box-shadow: 0 15px #DE4D3A;
}
.boxshadow-b-5-white {
  box-shadow: 0 15px #FFF;
}
.boxshadow-b-5-black {
  box-shadow: 0 15px #333333;
}
/*
  for each color defined the `@allColors` ,
    this will generate the following utility css

  eg:
   @allColors: primary;
   @color-primary: #FFF;


   .color-primary { color: #FFF; }
   .bg-primary { background-color: #FFF; }
   .borcolor-primary { border-color: #FFF; }
*/
.color-primary {
  color: #0A0024;
}
.bg-primary {
  background-color: #0A0024;
}
.borcolor-primary {
  border-color: #0A0024;
}
.color-primary-lighter {
  color: #180057;
}
.bg-primary-lighter {
  background-color: #180057;
}
.borcolor-primary-lighter {
  border-color: #180057;
}
.color-primary-lightest {
  color: #26008a;
}
.bg-primary-lightest {
  background-color: #26008a;
}
.borcolor-primary-lightest {
  border-color: #26008a;
}
.color-primary-darker {
  color: #000000;
}
.bg-primary-darker {
  background-color: #000000;
}
.borcolor-primary-darker {
  border-color: #000000;
}
.color-primary-darkest {
  color: #000000;
}
.bg-primary-darkest {
  background-color: #000000;
}
.borcolor-primary-darkest {
  border-color: #000000;
}
.color-secondary {
  color: #001926;
}
.bg-secondary {
  background-color: #001926;
}
.borcolor-secondary {
  border-color: #001926;
}
.color-secondary-lighter {
  color: #003b59;
}
.bg-secondary-lighter {
  background-color: #003b59;
}
.borcolor-secondary-lighter {
  border-color: #003b59;
}
.color-secondary-lightest {
  color: #005c8c;
}
.bg-secondary-lightest {
  background-color: #005c8c;
}
.borcolor-secondary-lightest {
  border-color: #005c8c;
}
.color-secondary-darker {
  color: #000000;
}
.bg-secondary-darker {
  background-color: #000000;
}
.borcolor-secondary-darker {
  border-color: #000000;
}
.color-secondary-darkest {
  color: #000000;
}
.bg-secondary-darkest {
  background-color: #000000;
}
.borcolor-secondary-darkest {
  border-color: #000000;
}
.color-tertiary {
  color: #F08400;
}
.bg-tertiary {
  background-color: #F08400;
}
.borcolor-tertiary {
  border-color: #F08400;
}
.color-tertiary-lighter {
  color: #ff9c24;
}
.bg-tertiary-lighter {
  background-color: #ff9c24;
}
.borcolor-tertiary-lighter {
  border-color: #ff9c24;
}
.color-tertiary-lightest {
  color: #ffb357;
}
.bg-tertiary-lightest {
  background-color: #ffb357;
}
.borcolor-tertiary-lightest {
  border-color: #ffb357;
}
.color-tertiary-darker {
  color: #bd6800;
}
.bg-tertiary-darker {
  background-color: #bd6800;
}
.borcolor-tertiary-darker {
  border-color: #bd6800;
}
.color-tertiary-darkest {
  color: #8a4c00;
}
.bg-tertiary-darkest {
  background-color: #8a4c00;
}
.borcolor-tertiary-darkest {
  border-color: #8a4c00;
}
.color-fourth {
  color: #E3DB96;
}
.bg-fourth {
  background-color: #E3DB96;
}
.borcolor-fourth {
  border-color: #E3DB96;
}
.color-fourth-lighter {
  color: #eee9be;
}
.bg-fourth-lighter {
  background-color: #eee9be;
}
.borcolor-fourth-lighter {
  border-color: #eee9be;
}
.color-fourth-lightest {
  color: #f8f7e7;
}
.bg-fourth-lightest {
  background-color: #f8f7e7;
}
.borcolor-fourth-lightest {
  border-color: #f8f7e7;
}
.color-fourth-darker {
  color: #d8cd6e;
}
.bg-fourth-darker {
  background-color: #d8cd6e;
}
.borcolor-fourth-darker {
  border-color: #d8cd6e;
}
.color-fourth-darkest {
  color: #cebf45;
}
.bg-fourth-darkest {
  background-color: #cebf45;
}
.borcolor-fourth-darkest {
  border-color: #cebf45;
}
.color-fifth {
  color: #DE4D3A;
}
.bg-fifth {
  background-color: #DE4D3A;
}
.borcolor-fifth {
  border-color: #DE4D3A;
}
.color-fifth-lighter {
  color: #e57466;
}
.bg-fifth-lighter {
  background-color: #e57466;
}
.borcolor-fifth-lighter {
  border-color: #e57466;
}
.color-fifth-lightest {
  color: #ed9c91;
}
.bg-fifth-lightest {
  background-color: #ed9c91;
}
.borcolor-fifth-lightest {
  border-color: #ed9c91;
}
.color-fifth-darker {
  color: #c43421;
}
.bg-fifth-darker {
  background-color: #c43421;
}
.borcolor-fifth-darker {
  border-color: #c43421;
}
.color-fifth-darkest {
  color: #98281a;
}
.bg-fifth-darkest {
  background-color: #98281a;
}
.borcolor-fifth-darkest {
  border-color: #98281a;
}
.color-white {
  color: #FFF;
}
.bg-white {
  background-color: #FFF;
}
.borcolor-white {
  border-color: #FFF;
}
.color-white-lighter {
  color: #ffffff;
}
.bg-white-lighter {
  background-color: #ffffff;
}
.borcolor-white-lighter {
  border-color: #ffffff;
}
.color-white-lightest {
  color: #ffffff;
}
.bg-white-lightest {
  background-color: #ffffff;
}
.borcolor-white-lightest {
  border-color: #ffffff;
}
.color-white-darker {
  color: #e6e6e6;
}
.bg-white-darker {
  background-color: #e6e6e6;
}
.borcolor-white-darker {
  border-color: #e6e6e6;
}
.color-white-darkest {
  color: #cccccc;
}
.bg-white-darkest {
  background-color: #cccccc;
}
.borcolor-white-darkest {
  border-color: #cccccc;
}
.color-black {
  color: #333333;
}
.bg-black {
  background-color: #333333;
}
.borcolor-black {
  border-color: #333333;
}
.color-black-lighter {
  color: #4d4d4d;
}
.bg-black-lighter {
  background-color: #4d4d4d;
}
.borcolor-black-lighter {
  border-color: #4d4d4d;
}
.color-black-lightest {
  color: #666666;
}
.bg-black-lightest {
  background-color: #666666;
}
.borcolor-black-lightest {
  border-color: #666666;
}
.color-black-darker {
  color: #1a1a1a;
}
.bg-black-darker {
  background-color: #1a1a1a;
}
.borcolor-black-darker {
  border-color: #1a1a1a;
}
.color-black-darkest {
  color: #000000;
}
.bg-black-darkest {
  background-color: #000000;
}
.borcolor-black-darkest {
  border-color: #000000;
}
/*
  param - @name - name of resulting css
  param - @color - (hex) color to use
*/
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-none {
  flex: 0 0 auto;
}
.flex-grow {
  flex: 1 1 auto;
}
.flex-grow-only {
  flex: 1 0 auto;
}
.flex-shrink-nly {
  flex: 0 1 auto;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.fsize-0 {
  font-size: 0px;
}
.fsize-1 {
  font-size: 5px;
}
.fsize-2 {
  font-size: 10px;
}
.fsize-3 {
  font-size: 15px;
}
.fsize-4 {
  font-size: 20px;
}
.fsize-5 {
  font-size: 25px;
}
.fsize-6 {
  font-size: 30px;
}
.fsize-7 {
  font-size: 35px;
}
.fsize-8 {
  font-size: 40px;
}
.fsize-9 {
  font-size: 45px;
}
.fsize-10 {
  font-size: 50px;
}
.fsize-base {
  font-size: 15px;
  line-height: 15px;
}
.fsize-small {
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.fsize-big {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.f-thin {
  font-weight: 200;
}
.f-normal {
  font-weight: 400;
}
.f-bold {
  font-weight: 600;
}
.f-italic {
  font-style: italic;
}
.grid-item-0 {
  grid-column: 0;
}
.grid-item-1 {
  grid-column: 1;
}
.grid-item-2 {
  grid-column: 2;
}
.grid-item-3 {
  grid-column: 3;
}
.grid-item-4 {
  grid-column: 4;
}
.grid-item-5 {
  grid-column: 5;
}
.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}
.mar-0 {
  margin: 0px;
}
.mar-ver-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.mar-hor-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.mar-t-0 {
  margin-top: 0px;
}
.mar-r-0 {
  margin-right: 0px;
}
.mar-b-0 {
  margin-bottom: 0px;
}
.mar-l-0 {
  margin-left: 0px;
}
.mar-1 {
  margin: 5px;
}
.mar-ver-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mar-hor-1 {
  margin-left: 5px;
  margin-right: 5px;
}
.mar-t-1 {
  margin-top: 5px;
}
.mar-r-1 {
  margin-right: 5px;
}
.mar-b-1 {
  margin-bottom: 5px;
}
.mar-l-1 {
  margin-left: 5px;
}
.mar-2 {
  margin: 10px;
}
.mar-ver-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mar-hor-2 {
  margin-left: 10px;
  margin-right: 10px;
}
.mar-t-2 {
  margin-top: 10px;
}
.mar-r-2 {
  margin-right: 10px;
}
.mar-b-2 {
  margin-bottom: 10px;
}
.mar-l-2 {
  margin-left: 10px;
}
.mar-3 {
  margin: 15px;
}
.mar-ver-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mar-hor-3 {
  margin-left: 15px;
  margin-right: 15px;
}
.mar-t-3 {
  margin-top: 15px;
}
.mar-r-3 {
  margin-right: 15px;
}
.mar-b-3 {
  margin-bottom: 15px;
}
.mar-l-3 {
  margin-left: 15px;
}
.mar-4 {
  margin: 20px;
}
.mar-ver-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mar-hor-4 {
  margin-left: 20px;
  margin-right: 20px;
}
.mar-t-4 {
  margin-top: 20px;
}
.mar-r-4 {
  margin-right: 20px;
}
.mar-b-4 {
  margin-bottom: 20px;
}
.mar-l-4 {
  margin-left: 20px;
}
.mar-5 {
  margin: 25px;
}
.mar-ver-5 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.mar-hor-5 {
  margin-left: 25px;
  margin-right: 25px;
}
.mar-t-5 {
  margin-top: 25px;
}
.mar-r-5 {
  margin-right: 25px;
}
.mar-b-5 {
  margin-bottom: 25px;
}
.mar-l-5 {
  margin-left: 25px;
}
/*
  example:
  .generate-margin(2) will output .mar-2 { margin: 10px; }
*/
.opacity-0 {
  opacity: Infinity;
}
.opacity-1 {
  opacity: 1;
}
.opacity-2 {
  opacity: 0.5;
}
.opacity-3 {
  opacity: 0.33333333;
}
.opacity-4 {
  opacity: 0.25;
}
.opacity-5 {
  opacity: 0.2;
}
.pad-0 {
  padding: 0px;
}
.pad-ver-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.pad-h-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.pad-t-0 {
  padding-top: 0px;
}
.pad-r-0 {
  padding-right: 0px;
}
.pad-b-0 {
  padding-bottom: 0px;
}
.pad-l-0 {
  padding-left: 0px;
}
.pad-1 {
  padding: 5px;
}
.pad-ver-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pad-h-1 {
  padding-left: 5px;
  padding-right: 5px;
}
.pad-t-1 {
  padding-top: 5px;
}
.pad-r-1 {
  padding-right: 5px;
}
.pad-b-1 {
  padding-bottom: 5px;
}
.pad-l-1 {
  padding-left: 5px;
}
.pad-2 {
  padding: 10px;
}
.pad-ver-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pad-h-2 {
  padding-left: 10px;
  padding-right: 10px;
}
.pad-t-2 {
  padding-top: 10px;
}
.pad-r-2 {
  padding-right: 10px;
}
.pad-b-2 {
  padding-bottom: 10px;
}
.pad-l-2 {
  padding-left: 10px;
}
.pad-3 {
  padding: 15px;
}
.pad-ver-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.pad-h-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.pad-t-3 {
  padding-top: 15px;
}
.pad-r-3 {
  padding-right: 15px;
}
.pad-b-3 {
  padding-bottom: 15px;
}
.pad-l-3 {
  padding-left: 15px;
}
.pad-4 {
  padding: 20px;
}
.pad-ver-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pad-h-4 {
  padding-left: 20px;
  padding-right: 20px;
}
.pad-t-4 {
  padding-top: 20px;
}
.pad-r-4 {
  padding-right: 20px;
}
.pad-b-4 {
  padding-bottom: 20px;
}
.pad-l-4 {
  padding-left: 20px;
}
.pad-5 {
  padding: 25px;
}
.pad-ver-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.pad-h-5 {
  padding-left: 25px;
  padding-right: 25px;
}
.pad-t-5 {
  padding-top: 25px;
}
.pad-r-5 {
  padding-right: 25px;
}
.pad-b-5 {
  padding-bottom: 25px;
}
.pad-l-5 {
  padding-left: 25px;
}
/*
  example:
  .generate-pad(2) will output .pad-2 { padding: 10px; }
*/
.cursor-pointer {
  cursor: pointer;
}
.cursor-auto {
  cursor: auto;
}
.pevents-none {
  pointer-events: none;
}
.pos-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.pos-t-0 {
  top: 0;
}
.pos-r-0 {
  right: 0;
}
.pos-b-0 {
  bottom: 0;
}
.pos-l-0 {
  left: 0;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
.position-relative {
  position: relative;
}
.position-static {
  position: static;
}
/*
  handles styles for items that typically have siblings like lists
*/
.sibling-mar-t-0 + .sibling-mar-t-0 {
  margin-top: 0px;
}
.sibling-mar-b-0 + .sibling-mar-b-0 {
  margin-bottom: 0px;
}
.sibling-mar-l-0 + .sibling-mar-l-0 {
  margin-left: 0px;
}
.sibling-mar-r-0 + .sibling-mar-r-0 {
  margin-right: 0px;
}
.sibling-pad-t-0 + .sibling-pad-t-0 {
  padding-top: 0px;
}
.sibling-pad-b-0 + .sibling-pad-b-0 {
  padding-bottom: 0px;
}
.sibling-pad-l-0 + .sibling-pad-l-0 {
  padding-left: 0px;
}
.sibling-pad-r-0 + .sibling-pad-r-0 {
  padding-right: 0px;
}
.sibling-mar-t-1 + .sibling-mar-t-1 {
  margin-top: 5px;
}
.sibling-mar-b-1 + .sibling-mar-b-1 {
  margin-bottom: 5px;
}
.sibling-mar-l-1 + .sibling-mar-l-1 {
  margin-left: 5px;
}
.sibling-mar-r-1 + .sibling-mar-r-1 {
  margin-right: 5px;
}
.sibling-pad-t-1 + .sibling-pad-t-1 {
  padding-top: 5px;
}
.sibling-pad-b-1 + .sibling-pad-b-1 {
  padding-bottom: 5px;
}
.sibling-pad-l-1 + .sibling-pad-l-1 {
  padding-left: 5px;
}
.sibling-pad-r-1 + .sibling-pad-r-1 {
  padding-right: 5px;
}
.sibling-mar-t-2 + .sibling-mar-t-2 {
  margin-top: 10px;
}
.sibling-mar-b-2 + .sibling-mar-b-2 {
  margin-bottom: 10px;
}
.sibling-mar-l-2 + .sibling-mar-l-2 {
  margin-left: 10px;
}
.sibling-mar-r-2 + .sibling-mar-r-2 {
  margin-right: 10px;
}
.sibling-pad-t-2 + .sibling-pad-t-2 {
  padding-top: 10px;
}
.sibling-pad-b-2 + .sibling-pad-b-2 {
  padding-bottom: 10px;
}
.sibling-pad-l-2 + .sibling-pad-l-2 {
  padding-left: 10px;
}
.sibling-pad-r-2 + .sibling-pad-r-2 {
  padding-right: 10px;
}
.sibling-mar-t-3 + .sibling-mar-t-3 {
  margin-top: 15px;
}
.sibling-mar-b-3 + .sibling-mar-b-3 {
  margin-bottom: 15px;
}
.sibling-mar-l-3 + .sibling-mar-l-3 {
  margin-left: 15px;
}
.sibling-mar-r-3 + .sibling-mar-r-3 {
  margin-right: 15px;
}
.sibling-pad-t-3 + .sibling-pad-t-3 {
  padding-top: 15px;
}
.sibling-pad-b-3 + .sibling-pad-b-3 {
  padding-bottom: 15px;
}
.sibling-pad-l-3 + .sibling-pad-l-3 {
  padding-left: 15px;
}
.sibling-pad-r-3 + .sibling-pad-r-3 {
  padding-right: 15px;
}
.sibling-mar-t-4 + .sibling-mar-t-4 {
  margin-top: 20px;
}
.sibling-mar-b-4 + .sibling-mar-b-4 {
  margin-bottom: 20px;
}
.sibling-mar-l-4 + .sibling-mar-l-4 {
  margin-left: 20px;
}
.sibling-mar-r-4 + .sibling-mar-r-4 {
  margin-right: 20px;
}
.sibling-pad-t-4 + .sibling-pad-t-4 {
  padding-top: 20px;
}
.sibling-pad-b-4 + .sibling-pad-b-4 {
  padding-bottom: 20px;
}
.sibling-pad-l-4 + .sibling-pad-l-4 {
  padding-left: 20px;
}
.sibling-pad-r-4 + .sibling-pad-r-4 {
  padding-right: 20px;
}
.sibling-mar-t-5 + .sibling-mar-t-5 {
  margin-top: 25px;
}
.sibling-mar-b-5 + .sibling-mar-b-5 {
  margin-bottom: 25px;
}
.sibling-mar-l-5 + .sibling-mar-l-5 {
  margin-left: 25px;
}
.sibling-mar-r-5 + .sibling-mar-r-5 {
  margin-right: 25px;
}
.sibling-pad-t-5 + .sibling-pad-t-5 {
  padding-top: 25px;
}
.sibling-pad-b-5 + .sibling-pad-b-5 {
  padding-bottom: 25px;
}
.sibling-pad-l-5 + .sibling-pad-l-5 {
  padding-left: 25px;
}
.sibling-pad-r-5 + .sibling-pad-r-5 {
  padding-right: 25px;
}
.width-full {
  width: 100%;
}
.height-full {
  height: 100%;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-stroke {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.wordbreak-break {
  word-break: break-word;
  white-space: normal;
}
.text-vertical {
  vertical-align: middle;
}
.zindex-0 {
  z-index: 0;
}
.zindex-1 {
  z-index: 1;
}
.zindex-2 {
  z-index: 2;
}
.zindex-3 {
  z-index: 3;
}
.zindex-4 {
  z-index: 4;
}
.zindex-5 {
  z-index: 5;
}
.zindex-6 {
  z-index: 6;
}
.zindex-7 {
  z-index: 7;
}
.zindex-8 {
  z-index: 8;
}
.zindex-9 {
  z-index: 9;
}
.zindex-10 {
  z-index: 10;
}
