// define your variables -

// color definitions
@allColors:
  primary,
  secondary,
  tertiary,
  fourth,
  fifth,

  white,
  black;

// theme from https://color.adobe.com/Halloween-Night-color-theme-10148895
@color-primary: #0A0024;
@color-secondary: #001926;
@color-tertiary: #F08400;
@color-fourth: #E3DB96;
@color-fifth: #DE4D3A;

@color-white: #FFF;
@color-black: #333333;

// font size - treated as 1rem
@baseFontSize: 15px;

// padding
@basePadding: 5px;

// margin
@baseMargin: 5px;

// border-radius
@baseBorderRadius: 5px;

// box-shadow
@baseBoxShadowSize: 3px;
