/*
  styling for adjacent elements, this causes the sibling to get the style
*/

/**
 * example result - `.adjacent-mar-t-1 + .adjacent-mar-t-1`;
 *
 * @param {Number} $num
 */
@mixin generate-adjacent-margin($num) {
  .#{$adjacent--key}-#{$margin--key}-#{$top--key}-#{$num} + .#{$adjacent--key}-#{$margin--key}-#{$top--key}-#{$num} {
    margin-top: $num * $baseMargin;
  }
  .#{$adjacent--key}-#{$margin--key}-#{$bottom--key}-#{$num} + .#{$adjacent--key}-#{$margin--key}-#{$bottom--key}-#{$num} {
    margin-bottom: $num * $baseMargin;
  }
  .#{$adjacent--key}-#{$margin--key}-#{$left--key}-#{$num} + .#{$adjacent--key}-#{$margin--key}-#{$left--key}-#{$num} {
    margin-left: $num * $baseMargin;
  }
  .#{$adjacent--key}-#{$margin--key}-#{$right--key}-#{$num} + .#{$adjacent--key}-#{$margin--key}-#{$right--key}-#{$num} {
    margin-right: $num * $baseMargin;
  }
}

/**
 * example result - `.adjacent-pad-t-1 + .adjacent-pad-t-1`;
 *
 * @param {Number} $num
 */
@mixin generate-adjacent-padding($num) {
  .#{$adjacent--key}-#{$padding--key}-#{$top--key}-#{$num} + .#{$adjacent--key}-#{$padding--key}-#{$top--key}-#{$num} {
    padding-top: $num * $basePadding;
  }
  .#{$adjacent--key}-#{$padding--key}-#{$bottom--key}-#{$num} + .#{$adjacent--key}-#{$padding--key}-#{$bottom--key}-#{$num} {
    padding-bottom: $num * $basePadding;
  }
  .#{$adjacent--key}-#{$padding--key}-#{$left--key}-#{$num} + .#{$adjacent--key}-#{$padding--key}-#{$left--key}-#{$num} {
    padding-left: $num * $basePadding;
  }
  .#{$adjacent--key}-#{$padding--key}-#{$right--key}-#{$num} + .#{$adjacent--key}-#{$padding--key}-#{$right--key}-#{$num} {
    padding-right: $num * $basePadding;
  }
}

@for $num from 1 through 8 {
  @include generate-adjacent-margin($num);
  @include generate-adjacent-padding($num);
}
