// styling for border color

$border-color--key: map.get($SELECTOR_MAP, "border-color");

@function get_border_color_style_selector($color_name, $direction: false, $mq: false, $pseudoselector: false) {
  // `borcolor-blue`
  @if not $direction and not $mq and not $pseudoselector {
    @return #{$border-color--key}-#{$color_name};
  }

  // `borcolor-t-red`
  @if $direction and not $mq and not $pseudoselector {
    $direction--key: map.get($DIRECTION_MAP, $direction);
    @return #{$border-color--key}-#{$direction--key}-#{$color_name};
  }

  // `s:borcolor-blue`
  @if not $direction and $mq and not $pseudoselector {
     @return get_media_query_selector(#{$border-color--key}-#{$color_name}, $mq);
  }

  // todo: `borcolor-blue:focus`
  @if not $direction and not $mq and $pseudoselector {
    @return #{$border-color--key}-#{$color_name};
  }

  // `s:borcolor-t-red`
  @if $direction and $mq and not $pseudoselector {
    $direction--key: map.get($DIRECTION_MAP, $direction);
    @return get_media_query_selector(#{$border-color--key}-#{$direction--key}-#{$color_name}, $mq);
  }

  // todo: `borcolor-t-red:focus`
  @if $direction and not $mq and $pseudoselector {
    @return #{$border-color--key}-#{$color_name};
  }

  // todo: `s:borcolor-blue:focus`
  @if not $direction and $mq and $pseudoselector {
    @return #{$border-color--key}-#{$color_name};
  }

  // todo: `s:borcolor-t-red:focus`
  @if $direction and $mq and $pseudoselector {
    @return #{$border-color--key}-#{$color_name};
  }
}

@mixin generate_border_color_styles($color_name, $direction: false, $mq: false, $pseudoselector: false) {
  $color_value: map.get($COLOR_MAP, $color_name);
  $selector_name_base: get_border_color_style_selector($color_name, $direction, $mq, $pseudoselector);

  // no directions given means all sides
  @if not $direction {
    .#{$selector_name_base} {
      border-color: $color_value;
    }

  // left, right
  } @else if $direction == "horizontal" {
    .#{$selector_name_base} {
      border-left: $color_value;
      border-right: $color_value;
    }

  // top, bottom
  } @else if $direction == "vertical" {
    .#{$selector_name_base} {
      border-top: $color_value;
      border-bottom: $color_value;
    }

  // cardinal directions, eg. left, right, top, down
  } @else {
    .#{$selector_name_base} {
      border-#{$direction}: $color_value;
    }
  }
}

/* start -- border-color*/
@each $color_name, $color_value in $COLOR_MAP {
  // basic version with just colors
  @include generate_border_color_styles($color_name);

  // all directions
  @each $direction_name, $direction_key in $DIRECTION_MAP {
    @include generate_border_color_styles($color_name, $direction_name);

    // breakpoints
    @each $mq_name, $mq in $MEDIA_QUERY_KEY_MAP {
      @include generate_border_color_styles($color_name, $direction_name, $mq);
    }
  }
}
/* end -- border-color */
