@each $name, $color in $COLOR_MAP {
  // all sides
  .#{$border-color--key}-#{$name} {
    border-color: $color;
  }

  // vertical - top and bottom
  .#{$border-color--key}-#{$vertical--key}-#{$name} {
    border-top-color: $color;
    border-bottom-color: $color;
  }

  // horizontal - left and right
  .#{$border-color--key}-#{$horizontal--key}-#{$name} {
    border-left-color: $color;
    border-right-color: $color;
  }

  // one side
  .#{$border-color--key}-#{$top--key}-#{$name} {
    border-top-color: $color;
  }
  .#{$border-color--key}-#{$bottom--key}-#{$name} {
    border-bottom-color: $color;
  }
  .#{$border-color--key}-#{$left--key}-#{$name} {
    border-left-color: $color;
  }
  .#{$border-color--key}-#{$right--key}-#{$name} {
    border-right-color: $color;
  }

  // generate active, hover, focus
  @each $pseudoSelectorName, $pseudoSelectorKey in $PSEUDOSELECTOR_MAP {
    .#{$pseudoSelectorKey}#{$border-color--key}-#{$name}:#{$pseudoSelectorName} {
      border-color: $color;
    }
    .#{$pseudoSelectorKey}#{$border-color--key}-#{$vertical--key}-#{$name}:#{$pseudoSelectorName} {
      border-top-color: $color;
      border-bottom-color: $color;
    }
    .#{$pseudoSelectorKey}#{$border-color--key}-#{$horizontal--key}-#{$name}:#{$pseudoSelectorName} {
      border-left-color: $color;
      border-right-color: $color;
    }
    .#{$pseudoSelectorKey}#{$border-color--key}-#{$top--key}-#{$name}:#{$pseudoSelectorName} {
      border-top-color: $color;
    }
    .#{$pseudoSelectorKey}#{$border-color--key}-#{$bottom--key}-#{$name}:#{$pseudoSelectorName} {
      border-bottom-color: $color;
    }
    .#{$pseudoSelectorKey}#{$border-color--key}-#{$left--key}-#{$name}:#{$pseudoSelectorName} {
      border-left-color: $color;
    }
    .#{$pseudoSelectorKey}#{$border-color--key}-#{$right--key}-#{$name}:#{$pseudoSelectorName} {
      border-right-color: $color;
    }
  }
}
