$border-width--key: map.get($SELECTOR_MAP, "border-width");

@function get_border_width_style_selector($value, $direction: false, $mediaquery: false, $pseudoselector: false) {
  $borwidth_selector_base: #{$border-width--key}-#{$value};

  // `borwidth-blue`
  @if not $direction and not $mediaquery and not $pseudoselector {
    @return $borwidth_selector_base;
  }

  $direction--key: map.get($DIRECTION_MAP, $direction);
  $borwidth_selector_directional_base: #{$border-width--key}-#{$direction--key}-#{$value};

  // `borwidth-t-red`
  @if $direction and not $mediaquery and not $pseudoselector {
    $direction--key: map.get($DIRECTION_MAP, $direction);
    @return $borwidth_selector_directional_base;
  }

  // `s:borwidth-blue`
  @if not $direction and $mediaquery and not $pseudoselector {
     @return get_media_query_selector($borwidth_selector_base, $mediaquery);
  }

  // `borwidth-blue:focus`
  @if not $direction and not $mediaquery and $pseudoselector {
    @return get_pseudoselector_selector($borwidth_selector_base, $pseudoselector);
  }

  // `s:borwidth-t-red`
  @if $direction and $mediaquery and not $pseudoselector {
    $direction--key: map.get($DIRECTION_MAP, $direction);
    @return get_media_query_selector($borwidth_selector_directional_base, $mediaquery);
  }

  // `borwidth-t-red:focus`
  @if $direction and not $mediaquery and $pseudoselector {
    @return get_pseudoselector_selector($borwidth_selector_directional_base, $pseudoselector);
  }

  // `s:borwidth-blue:focus`
  @if not $direction and $mediaquery and $pseudoselector {
    @return get_media_query_selector(get_pseudoselector_selector($borwidth_selector_base, $pseudoselector), $mediaquery);
  }

  // `s:borwidth-t-red:focus`
  @if $direction and $mediaquery and $pseudoselector {
    @return get_media_query_selector(get_pseudoselector_selector($borwidth_selector_directional_base, $pseudoselector), $mediaquery);
  }
}

@mixin generate_border_width_styles($value, $direction: false, $mediaquery: false, $pseudoselector: false) {
  $selector_name_base: get_border_width_style_selector($value, $direction, $mediaquery, $pseudoselector);

  // no directions given means all sides
  @if not $direction {
    .#{$selector_name_base} {
      border-width: $value;
    }

  // left, right
  } @else if $direction == "horizontal" {
    .#{$selector_name_base} {
      border-left-width: $value;
      border-right-width: $value;
    }

  // top, bottom
  } @else if $direction == "vertical" {
    .#{$selector_name_base} {
      border-top-width: $value;
      border-bottom-width: $value;
    }

  // cardinal directions, eg. left, right, top, down
  } @else {
    .#{$selector_name_base} {
      border-#{$direction}-width: $value;
    }
  }
}

/* start -- border-width */
@for $value from 0 through 9 {
  // basic version with just colors
  @include generate_border_width_styles($value);

  // all directions
  @each $direction_name, $direction_key in $DIRECTION_MAP {
    @include generate_border_width_styles($value, $direction_name);

    // breakpoints
    @each $mediaquery, $mq_key in $MEDIA_QUERY_KEY_MAP {
      @include generate_border_width_styles($value, $direction_name, $mediaquery);

      // pseudoselectors
      @each $pseudoselector, $ps_key in $PSEUDOSELECTOR_MAP {
        @include generate_border_width_styles($value, $direction_name, $mediaquery, $pseudoselector);
      }
    }
  }
}
/* end -- border-width */
