// todo - media query

/* start -- flex parent */
$flex--key: map.get($SELECTOR_MAP, "flex");
$FLEX_PARENT_DIRECTION_LIST: (
  "row": row,
  "column": col,
);

@each $flex_direction_name, $flex_direction_key in $FLEX_PARENT_DIRECTION_LIST {
  $flex_direction_base_selector: #{$flex--key}-#{$flex_direction_name};
  .#{$flex_direction_base_selector} {
    display: flex;
    flex-direction: #{$flex_direction_name};
  }

  .#{$flex_direction_base_selector}-center {
    display: flex;
    flex-direction: #{$flex_direction_name};
    align-items: center;
    justify-content: center;
  }
}
/* end -- flex parent */

/* start -- flex alignment */
$FLEX_PROPERTIES_MAP: (
  "align-items": map.get($SELECTOR_MAP, "align-items"),
  "justify-content": map.get($SELECTOR_MAP, "justify-content"),
  "align-self": map.get($SELECTOR_MAP, "align-self"),
);

$FLEX_PROPERTY_VALUES_MAP: (
  "start": flex-start,
  "center": center,
  "end": flex-end,
  "stretch": stretch,
  "auto": auto,
);

@each $flex_property_name, $flex_property_key in $FLEX_PROPERTIES_MAP {
  @each $flex_property_value_name, $flex_property_value_key in $FLEX_PROPERTY_VALUES_MAP {
    .#{$flex_property_key}-#{$flex_property_value_name} {
      #{$flex_property_name}: $flex_property_value_key;
    }
  }
}
/* end -- flex alignment */

/* start -- flex child sizing */
.#{$flex--key}-auto {
  flex: 1 1 auto;
}
.#{$flex--key}-none {
  flex: 0 0 auto;
}
.#{$flex--key}-grow-only {
  flex: 1 0;
}
.#{$flex--key}-shrink-only {
  flex: 0 1;
}
.#{$flex--key}-initial {
  flex: initial;
}
.#{$flex--key}-inherit {
  flex: inherit;
}
/* end -- flex child sizing */

/* end -- flex-wrap */
$flex-wrap--key: map.get($SELECTOR_MAP, "flex-wrap");
.#{$flex-wrap--key}-no {
  flex-wrap: nowrap;
}
.#{$flex-wrap--key}-yes {
  flex-wrap: wrap;
}
.#{$flex-wrap--key}-reverse {
  flex-wrap: wrap-reverse;
}
.#{$flex-wrap--key}-initial {
  flex-wrap: initial;
}
.#{$flex-wrap--key}-inherit {
  flex-wrap: inherit;
}
/* end -- flex-wrap */

