// todo - breakpoints

$opacity--key: map.get($SELECTOR_MAP, "opacity");

/* start -- opacity */
.#{$opacity--key}-0 {
  opacity: 0;
}

@for $value from 1 through 9 {
  .#{$opacity--key}-#{$value} {
    opacity: ($value / 10);
  }
}

.#{$opacity--key}-max {
  opacity: 1;
}
/* end -- opacity */
