// todo - media query

$overflow--key: map.get($SELECTOR_MAP, "overflow");
$overflow--axis:
  x,
  y;
$overflow--properties:
  visible,
  hidden,
  scroll,
  auto;

@mixin generate_overflow_styles($property, $axis: false) {
  @if $axis {
    $overflow_selector: #{$overflow--key}-#{$axis}-#{$property};
    .#{$overflow_selector} {
      overflow-#{$axis}: $property;
    }

  // no axis
  } @else {
    $overflow_selector: #{$overflow--key}-#{$property};
    .#{$overflow_selector} {
      overflow: $property;
    }
  }
}

/* start -- overflow */
@each $property in $overflow--properties {
  @include generate_overflow_styles($property);

  @each $axis in $overflow--axis {
    @include generate_overflow_styles($property, $axis);
  }
}
/* end -- overflow */
