// todo - breakpoints

$cursor--key: map.get($SELECTOR_MAP, "cursor");

/* start -- pointer */
.#{$cursor--key}-pointer {
  cursor: pointer;
}
.#{$cursor--key}-auto {
  cursor: auto;
}

.pevents-none {
  pointer-events: none;
}
/* end -- pointer */
