/* start -- position */
$position--key: map.get($SELECTOR_MAP, "position");

.#{$position--key}-absolute {
  position: absolute;
}
.#{$position--key}-fixed {
  position: fixed;
}
.#{$position--key}-relative {
  position: relative;
}
.#{$position--key}-static {
  position: static;
}

@each $mediaquery, $mq_key in $MEDIA_QUERY_KEY_MAP {
  @include apply_media_query($mediaquery) {
    .#{get_media_query_selector("#{$position--key}-absolute", $mediaquery)} {
      position: absolute;
    }
    .#{get_media_query_selector("#{$position--key}-fixed", $mediaquery)} {
      position: fixed;
    }
    .#{get_media_query_selector("#{$position--key}-relative", $mediaquery)} {
      position: relative;
    }
    .#{get_media_query_selector("#{$position--key}-static", $mediaquery)} {
      position: static;
    }
  }
}
/* start -- position */
