@borradiusKey: borradius;

// creates n instances of border radius
.generate-all-border-radius(5);
.generate-all-border-radius(@n, @i: 0) when (@i =< @n) {
  .gen-border-radius-corners(@i);

  // recursively call
  .generate-all-border-radius(@n, (@i + 1));
};

.gen-border-radius-corners(@num) {
  @borradiusSize: @num * @baseBorderRadius;

  // all corners
  .@{borradiusKey}-@{num} {
    border-radius: @borradiusSize;
  }

  // corners
  .@{borradiusKey}-tl-@{num} {
    border-top-left-radius: @borradiusSize;
  }

  .@{borradiusKey}-tr-@{num} {
    border-top-right-radius: @borradiusSize;
  }

  .@{borradiusKey}-bl-@{num} {
    border-bottom-left-radius: @borradiusSize;
  }

  .@{borradiusKey}-br-@{num} {
    border-bottom-right-radius: @borradiusSize;
  }

  // sides
  .@{borradiusKey}-l-@{num} {
    border-top-left-radius: @borradiusSize;
    border-bottom-left-radius: @borradiusSize;
  }
  .@{borradiusKey}-r-@{num} {
    border-top-right-radius: @borradiusSize;
    border-bottom-right-radius: @borradiusSize;
  }
  .@{borradiusKey}-t-@{num} {
    border-top-left-radius: @borradiusSize;
    border-top-right-radius: @borradiusSize;
  }
  .@{borradiusKey}-d-@{num} {
    border-bottom-left-radius: @borradiusSize;
    border-bottom-right-radius: @borradiusSize;
  }
}

// other
.borradius-round {
  border-radius: 50%;
}
.borcolor-transparent {
  border-color: transparent;
}
