/*
  for each color defined the `@colorList` ,
    this will generate the following utility css

  eg:
   @colorList: primary;
   @color-primary: #FFF;


   .color-primary { color: #FFF; }
   .bg-primary { background-color: #FFF; }
   .borcolor-primary { border-color: #FFF; }
*/
each(@colorList, {
  @colorName: @value;
  @colorDefinition: 'color-@{colorName}';

  .generate-color-styles(@colorName, @@colorDefinition);
});

/*
  param - @name - name of resulting css
  param - @color - (hex) color to use
*/
.generate-color-styles(@name, @color) {
  .@{color--key}-@{name} {
    color: @color;
  }
  .@{background-color--key}-@{name} {
    background-color: @color;
  }

  .@{active--selector}\:@{color--key}-@{name}:active {
    color: @color;
  }
  .@{active--selector}\:@{background-color--key}-@{name}:active {
    background-color: @color;
  }

  .@{focus--selector}\:@{color--key}-@{name}:focus {
    color: @color;
  }
  .@{focus--selector}\:@{background-color--key}-@{name}:focus {
    background-color: @color;
  }

  .@{hover--selector}\:@{color--key}-@{name}:hover:not(:active) {
    color: @color;
  }
  .@{hover--selector}\:@{background-color--key}-@{name}:hover:not(:active) {
    background-color: @color;
  }
}
