/*
  for each color defined the `@allColors` ,
    this will generate the following utility css

  eg:
   @allColors: primary;
   @color-primary: #FFF;


   .color-primary { color: #FFF; }
   .bg-primary { background-color: #FFF; }
   .borcolor-primary { border-color: #FFF; }
*/
each(@allColors, {
  @colorName: @value;
  @colorDefinition: 'color-@{colorName}';

  .generate-color-styles(@colorName, @@colorDefinition);
  .generate-color-styles(~'@{colorName}-lighter', lighten(@@colorDefinition, @percentLighter));
  .generate-color-styles(~'@{colorName}-lightest', lighten(@@colorDefinition, @percentLightest));
  .generate-color-styles(~'@{colorName}-darker', darken(@@colorDefinition, @percentDarker));
  .generate-color-styles(~'@{colorName}-darkest', darken(@@colorDefinition, @percentDarkest));
});

/*
  param - @name - name of resulting css
  param - @color - (hex) color to use
*/
.generate-color-styles(@name, @color) {
  .color-@{name} {
    color: @color;
  }
  .bg-@{name} {
    background-color: @color;
  }

  .@{active--selector}\:color-@{name}:active {
    color: @color;
  }
  .@{active--selector}\:bg-@{name}:active {
    background-color: @color;
  }

  .@{focus--selector}\:color-@{name}:focus {
    color: @color;
  }
  .@{focus--selector}\:bg-@{name}:focus {
    background-color: @color;
  }

  .@{hover--selector}\:color-@{name}:hover:not(:active) {
    color: @color;
  }
  .@{hover--selector}\:bg-@{name}:hover:not(:active) {
    background-color: @color;
  }
}
