@flexboxKey: flex;
@alignItemsKey: aitems;
@justifyContentKey: jcontent;
@alignselfKey: aself;

@FLEX_ALIGNMENT_PROPERTIES: {
  @start: flex-start;
  @center: center;
  @end: flex-end;
  @stretch: stretch;
  @auto: auto;
}

@FLEX_PROPERTIES_LIST:
  start,
  end,
  center,
  stretch,
  auto;

each(@FLEX_PROPERTIES_LIST, {
  @propertyName: @value;

  .@{alignItemsKey}-@{propertyName} {
    align-items: @FLEX_ALIGNMENT_PROPERTIES[@@value];
  }

  .@{justifyContentKey}-@{propertyName} {
    justify-content: @FLEX_ALIGNMENT_PROPERTIES[@@propertyName];
  }

  .@{alignselfKey}-@{propertyName} {
    align-self: @FLEX_ALIGNMENT_PROPERTIES[@@propertyName];
  }
})

// flex properties
.@{flexboxKey}-grow-0 {
  flex-grow: 0;
}
.@{flexboxKey}-grow-1 {
  flex-grow: 1;
}
.@{flexboxKey}-shrink-0 {
  flex-shrink: 0;
}
.@{flexboxKey}-shrink-1 {
  flex-shrink: 1;
}

// row
.@{flexboxKey}-row {
  display: flex;
  flex-direction: row;
}
.@{flexboxKey}-row-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// col
.@{flexboxKey}-col {
  display: flex;
  flex-direction: column;
}
.@{flexboxKey}-col-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
