.@{resize--key}-none {
  resize: none;
}
.@{resize--key}-both {
  resize: both;
}
.@{resize--key}-horizontal {
  resize: horizontal;
}
.@{resize--key}-vertical {
  resize: vertical;
}
.@{resize--key}-initial {
  resize: initial;
}
.@{resize--key}-inherit {
  resize: inherit;
}
