@margin--key: mar;

// start recursion
.recursive-margin(5);
.recursive-margin(@iteration) when (@iteration >= 0) {
  @marginSize: @iteration * @baseMargin;

  // all sides
  .@{margin--key}-@{iteration} {
    margin: @marginSize;
  }
  // two sides
  .@{margin--key}-v-@{iteration} {
    margin-top: @marginSize;
    margin-bottom: @marginSize;
  }
  .@{margin--key}-h-@{iteration} {
    margin-left: @marginSize;
    margin-right: @marginSize;
  }
  // one side
  .@{margin--key}-l-@{iteration} {
    margin-left: @marginSize;
  }
  .@{margin--key}-r-@{iteration} {
    margin-right: @marginSize;
  }
  .@{margin--key}-t-@{iteration} {
    margin-top: @marginSize;
  }
  .@{margin--key}-b-@{iteration} {
    margin-bottom: @marginSize;
  }

  // do it again
  .recursive-margin(@iteration - 1);
}
