// start recursion
.recursive-margin(5);
.recursive-margin(@iteration) when (@iteration >= 0) {
  @marginSize: @iteration * @baseMargin;

  // all sides
  .@{margin--key}-@{iteration} {
    margin: @marginSize;
  }
  // two sides
  .@{margin--key}-@{vertical--key}-@{iteration} {
    margin-top: @marginSize;
    margin-bottom: @marginSize;
  }
  .@{margin--key}-@{horizontal--key}-@{iteration} {
    margin-left: @marginSize;
    margin-right: @marginSize;
  }
  // one side
  .@{margin--key}-@{left--key}-@{iteration} {
    margin-left: @marginSize;
  }
  .@{margin--key}-@{right--key}-@{iteration} {
    margin-right: @marginSize;
  }
  .@{margin--key}-@{top--key}-@{iteration} {
    margin-top: @marginSize;
  }
  .@{margin--key}-@{bottom--key}-@{iteration} {
    margin-bottom: @marginSize;
  }

  // do it again
  .recursive-margin(@iteration - 1);
}

// -- singlular styles
// all sides
.@{margin--key}-auto {
  margin: auto;
}
// two sides
.@{margin--key}-@{vertical--key}-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.@{margin--key}-@{horizontal--key}-auto {
  margin-left: auto;
  margin-right: auto;
}
// one side
.@{margin--key}-@{left--key}-auto {
  margin-left: auto;
}
.@{margin--key}-@{right--key}-auto {
  margin-right: auto;
}
.@{margin--key}-@{top--key}-auto {
  margin-top: auto;
}
.@{margin--key}-@{bottom--key}-auto {
  margin-bottom: auto;
}
