// start recursion
.recursive-padding(5);
.recursive-padding(@iteration) when (@iteration >= 0) {
  @paddingSize: @iteration * @basePadding;

  // all sides
  .@{padding--key}-@{iteration} {
    padding: @paddingSize;
  }
  // two sides
  .@{padding--key}-v-@{iteration} {
    padding-top: @paddingSize;
    padding-bottom: @paddingSize;
  }
  .@{padding--key}-h-@{iteration} {
    padding-left: @paddingSize;
    padding-right: @paddingSize;
  }
  // one side
  .@{padding--key}-l-@{iteration} {
    padding-left: @paddingSize;
  }
  .@{padding--key}-r-@{iteration} {
    padding-right: @paddingSize;
  }
  .@{padding--key}-t-@{iteration} {
    padding-top: @paddingSize;
  }
  .@{padding--key}-b-@{iteration} {
    padding-bottom: @paddingSize;
  }

  // do it again
  .recursive-padding(@iteration - 1);
}
